body {
  background-color : red;
}
h1{
  color : white;
  font-size : 100px;
  text-align : center;
}
h2{
  color : white;
  font-size : 75px;
  text-align : center;
}
header{
  background-color : green
}
  
